extends layout

block content
  .container
    h1 Edit Your Account
    form(action="/account" method="POST" class="grid")
      .form-group.grid-cell.w48
        input(type="text" name="name" value=user.name)
        label(for="name") Name
      .form-group.grid-cell.w48
        input(type="text" name="username" value=user.username)
        label(for="username") Username
      .form-group.grid-cell.w48
        input(type="email" name="email" value=user.email)
        label(for="email") Email
      .form-group.grid-cell.w48.amount-field
        input(type="text" name="income" value=user.income)
        label(for="income") Income
      .form-group.grid-cell.w100
        input(type="submit" value="Submit")

