form(action="/category/add" method="POST")
  label(for="title") Category Title
  input(type="text" name="title")
  label(for="color") Color
  input(type="color" name="color")
  input(type="submit" value="Submit")