extends layout

include mixins/_categorySidebar

block sidebar
  +categorySidebar()

block content
  div.grid-cell.w65
    p this is the category landing page
    a.btn(href="/category/add") Add Category

