extends layout

include mixins/_categorySidebar
include mixins/_categories

block sidebar
  //- +categorySidebar()

block content
  div.grid-cell.w100.container.category-list
    h1 Categories
    h3.datepicker 
      span #{month} #{year} 
      != h.icon('caret-down')
    p.add-btn
      a.btn(href="/category/add") Add Category
    +categories()
            
          

