extends layout

include mixins/_categories
include mixins/_item
include mixins/_categorySidebar

block sidebar
  +categorySidebar()

block content
  h1 #{title} - #{h.formatPrice(itemSum.sum)}/#{h.formatPrice(category.amount)}

  each entry in category.entries
    +item(entry)




