extends layout

include mixins/_categorySidebar
include mixins/_categories

block sidebar
  //- +categorySidebar()

block content
  div.grid-cell.w100.container.category-list
    p this is the category landing page
    a.btn(href="/category/add") Add Category
    +categories()
            
          

