extends layout

include mixins/_categories
include mixins/_item

block sidebar
  aside
    +categories(categories)

block content
  != h.dump(category)
  h1 #{title} - test/#{h.formatPrice(category.amount)}




