extends layout

block content
  .container.error-container
    h1 #{status}!
    if status === 404
      h4 Looks like you've stumbled upon a page that doesn't exist. 
      if user
        p Why not check out your dashboard instead?
        a(href="/dashboard" class="btn") Continue
      else
        p Why not try logging in instead?
        a(href="/login" class="btn") Continue
    else
      h4= message
    pre.error!= stackHighlighted
