extends layout

block content
  .hero
    .container
      h1 Budgeter
      h3 Achieve Your Financial Goals
      a(href="/register" class="btn") Get Started
  .container
    p Budgeter is a budgeting application designed to allow you to effortlessly manage your finances. 
    p Easily create spending categories and items and see how your purchases reflect your spending goals. 
    .grid
      if user
        .grid-cell.homepage-callout
          h5 See your overall progress
          a(href="/dashboard" class="btn") Go To Dashboard
        .grid-cell.homepage-callout
          h5 View your categories
          a(href="/categories" class="btn") Go To Categories
        .grid-cell.homepage-callout
          h5 Add a transaction
          a(href="/add" class="btn") Add Transaction
      else
        .grid-cell.homepage-callout
          h5 First time user? 
          a(href="/register" class="btn") Register
        .grid-cell.homepage-callout
          h5 Returning user? 
          a(href="/login" class="btn") Login
      

  //- Total expenses daily, weekly, monthly
  //- https://dribbble.com/shots/3329597-Home-Budget-App-Dashboard