doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/dist/style.css')
  body
    block header
      header
        .logo-section.grid-cell.w35
          a(href="/") Logo
        .site-title.grid-cell
          h1= h.siteName
        nav.grid-cell.w35
          .menu
            ul.menu-items
              each item in h.menu
                li.menu-item
                  a(href=item.slug)= item.title
    block sidebar
    block content
    block scripts
    script(src="/javascripts/dist/app.min.js")
