mixin categorySidebar(category = {})
  aside.grid-cell.w30
    ul.category-list
      each category in categories
        li
          a(href=`/category/${category.slug}`) 
            span #{category.title} (#{h.formatPrice(category.amount)})
          a.icon(href=`/category/${category.slug}/edit` title="Edit") 
            != h.icon('edit')