mixin categoryForm(category={})
  form(action=`/category/${category.slug}/edit` method="POST" class="grid")
    .form-group.grid-cell
      input(type="text" name="title")
      label(for="title") Category Title
    .form-group.grid-cell.amount-field
      input(type="number" name="amount")
      label(for="amount") Amount
    .form-group.grid-cell.w100
      input(type="submit" value="Submit")