mixin item(item = {})
  .item
    p= item.title
    p #{h.formatPrice(item.amount)}
    .item-actions
      a(href=`/add/${item._id}` title="Edit") 
        != h.icon('edit')
      a(href=`/delete/${item._id}` title="Delete")
        != h.icon('delete')