mixin loginForm()
  form(action=`/login` method="POST" class="grid user-form")
    .form-group.grid-cell.w48
      input(type="email" name="email" required)
      label(for="email") Email*
    .form-group.grid-cell.w48
      input(type="password" name="password" required)
      label(for="password") Password*
    .form-group.grid-cell.w100
      input(type="submit" value="Submit")