.back-bar {
  display: block;
  width: 100%;
  background: map(colors, blue, base);

  a {
    padding: 10px 25px;
    display: flex;
    align-items: center;
    color: map(colors, white, base); 

    svg {
      margin-right: 10px;
      fill: map(colors, white, base);
      width: 18px;
      height: 18px;
      transform: translateX(0px);
      transition: all .5s ease;
    }

    &:hover, &:active, &:focus {
      svg {
        transform: translateX(-5px);
      }
    }   
  }
}

.category-list {
  h3.datepicker {
    margin: 0;
    display: inline-block;
    align-items: center;
    transition: all .5s ease;

    svg {
      position: relative;
      top: 2px;
      width: 15px;
      height: 15px;
      transition: all .5s ease;
    }

    &:hover, &:active, &:focus {
      color: map(colors, blue, base);

      svg {
        fill: map(colors, blue, base);
      }
    }
  }

  p.add-btn {
    margin-bottom: 15px;
    text-align: right;

    a {
      display: inline-block;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
    list-style-type: none;
    @media <=map(bp, mobile) {
      grid-template-columns: auto auto;
      grid-gap: 10px;
    }
    @media <=map(bp, tiny) {
      grid-template-columns: auto;
    }

    li.category {
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: map(colors, white, base);
      border: 1px solid map(colors, gray, base);

      &.underspend {
        border-color: map(colors, green, base);
      }

      &.overspend {
        border-color: map(colors, red, base);

        .progress-bar {
          .progress-fill {
            background: linear-gradient(to right, map(colors, red, base), map(colors, orange, base));
          }
        }
      }

      .category-top {
        margin-bottom: 20px;
        display: flex;
        width: 100%;

        .category-title {
          h3 {
            margin: 0;
          }

          p {
            margin: 0;
            font-size: 14px;
          }
        }

        .budget-meta {
          margin: 0;
          text-align: right;

          .budget-spent {
            display: block;
            font-size: 18px;
            font-weight: 700;
            color: map(colors, gray, base);

            &.underspend {
              color: map(colors, green, light);
            }

            &.overspend {
              color: map(colors, red, base);
            }
          }

          .budget-goal {
            color: map(colors, black, base);
            font-weight: 700;
          }
        }
      }

      .budget-percent {
        margin: 5px 0 25px;
        font-size: 12px;
        width: 100%;
        text-align: left;
      }

      .btn-row {
        display: flex;
        justify-content: space-around;
        width: 75%;
      }
    }
  }
}

.progress-bar {
  height: 20px;
  border: 1px solid map(colors, gray, base);
  width: 100%;
  overflow: hidden;

  .progress-fill {
    background: linear-gradient(to right, map(colors, green, light), map(colors, green, base));
    height: 20px;
  }
}

.category {
  .budget-title {
    h1 {
      margin-bottom: 0;
      text-align: center;
    }
  }

  .category-details {
    display: flex;
    justify-content: space-between;

    .category-items {
      @media <=map(bp, tablet) {
        flex: 0 0 100%;
      }

      .category-item-grid {
        @media <=map(bp, tablet) {
          justify-content: space-between;
        }
      }
    }
    
    .budget-meta {
      display: flex;
      justify-content: space-between;
      font-size: 14px;

      h3.datepicker {
        margin: 0;
        display: inline-block;
        align-items: center;
        transition: all .5s ease;

        svg {
          position: relative;
          top: 2px;
          width: 15px;
          height: 15px;
          transition: all .5s ease;
        }

        &:hover, &:active, &:focus {
          color: map(colors, blue, base);

          svg {
            fill: map(colors, blue, base);
          }
        }
      }

      .budget-spent {
        display: block;
        font-size: 24px;
        font-weight: 700;
        color: map(colors, gray, base);

        &.underspend {
          color: map(colors, green, light);
        }

        &.overspend {
          color: map(colors, red, base);
        }
      }

      .budget-goal {
        color: map(colors, black, base);
        font-weight: 700;
      }
    }
  }

  .add-btn {
    margin-top: 0;
    text-align: right;
  }
}

.category-charts {
  @media <=map(bp, tablet) {
    flex: 0 0 100% !important;
  }

  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}