.category {

  .budget-title {
    h1 {
      margin-bottom: 0;
      text-align: center;
    }
  }

  .category-details {
    display: flex;
    justify-content: space-between;
    
    .budget-meta {
      display: flex;
      justify-content: space-between;
      font-size: 14px;

      .budget-spent {
        display: block;
        font-size: 24px;
        font-weight: 700;

        &.underspend {
          color: map(colors, green, light);
        }

        &.overspend {
          color: map(colors, red, base);
        }
      }

      .budget-goal {
        color: map(colors, black, base);
        font-weight: 700;
      }
    }
  }
}