.user-dashboard {
  &.overspend {
    border-color: map(colors, red, base);

    .progress-bar {
      .progress-fill {
        background: linear-gradient(to right, map(colors, red, base), map(colors, orange, base));
      }
    }

    .budget-percent {
      span {
        color: map(colors, red, base);
      }
    }
  }

  &.underspend {
    border-color: map(colors, green, base);

    .budget-percent {
      span {
        color: map(colors, green, light);
      }
    }
  }

  .budget-percent {
    span {
      font-weight: 700;
    }
  }

  .budget-meta {
    h1 {
      text-align: center;
    }
  }
}

.dashboard-grid {
  justify-content: space-between;

  .dashboard-categories {
    @media <=map(bp, mobile) {
      flex: 0 0 100%;
    }

    h5 {
      margin: 0 0 5px;
      color: map(colors, white, base);
    }

    p {
      margin-bottom: 5px;
    }

    select {
      width: 90%;
    }
  }

  aside {
    @media <=map(bp, mobile) {
      padding: 0;
    }
  }
}

.dashboard-items {
  @media <=map(bp, mobile) {
    flex: 0 0 100% !important;
  }
}

.dashboard-charts {
  margin-top: 40px;

  .chartContainer {
    position: relative;
    width: 100%;
  }
}