.user-dashboard {
  &.overspend {
    border-color: map(colors, red, base);

    .progress-bar {
      .progress-fill {
        background: linear-gradient(to right, map(colors, red, base), map(colors, orange, base));
      }
    }

    .budget-percent {
      span {
        color: map(colors, red, base);
      }
    }
  }

  &.underspend {
    border-color: map(colors, green, base);

    .budget-percent {
      span {
        color: map(colors, green, light);
      }
    }
  }

  .budget-percent {
    span {
      font-weight: 700;
    }
  }

  > .budget-meta {
    margin-bottom: 40px;

    h1 {
      text-align: center;
    }
  }
}

.dashboard-grid {
  justify-content: space-between;

  .dashboard-categories {
    @media <=map(bp, mobile) {
      flex: 0 0 100%;
    }

    h3.datepicker {
      margin: 0;
      display: inline-block;
      align-items: center;
      transition: all .5s ease;
      cursor: pointer;

      svg {
        position: relative;
        top: 2px;
        width: 25px;
        height: 25px;
        transition: all .5s ease;
      }

      &:hover, &:active, &:focus {
        color: map(colors, blue, base);

        svg {
          fill: map(colors, blue, base);
        }
      }
    }

    h5 {
      margin: 0 0 5px;
      color: map(colors, white, base);
    }

    p {
      margin-bottom: 5px;

      &.no-cat {
        margin-bottom: 1em;
      }
    }

    select {
      width: 50%;
    }
  }

  aside {
    @media <=map(bp, mobile) {
      padding: 0;
    }
  }
}

.dashboard-items {
  @media <=map(bp, mobile) {
    margin-top: 40px;
    flex: 0 0 100% !important;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .items {
    margin-top: 25px;
  }
}

.dashboard-charts {
  margin-top: 40px;

  .chartContainer {
    position: relative;
    width: 100%;

    button {
      margin-top: 20px;
      
      &:first-of-type {
        margin-right: 10px;
      }
    }
  }
}