form {
  margin-top: 50px !important;

  .form-group {
    position: relative;
    margin-bottom: 25px;

    input {
      &[type=text], &[type=number] {
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 300px;
        border: none;
        border-bottom: 1px solid #757575;

        &:focus ~ label {
          top:-20px;
          font-size:14px;
          color: map(colors, green, light);
        }
      }

      &[type=date] {
        ~ label {
          top:-20px;
          font-size:14px;
          color: map(colors, green, light);
        }
      }

      &.has-value {
        ~ label {
          top:-20px;
          font-size:14px;
          color: map(colors, green, light);
        }
      }
    }

    label {
      color:#999; 
      font-size:14px;
      font-weight:normal;
      position:absolute;
      pointer-events:none;
      left:5px;
      top:10px;
      transition:0.2s ease all; 
      -moz-transition:0.2s ease all; 
      -webkit-transition:0.2s ease all;
    }
  }
}
