header {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  background: map(colors, white, base);
  box-shadow: 0px 0px 10px map(colors, gray, base);

  > .grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu {
    display: block;
    width: 100%;
    @media <=map(bp, tablet) {
      display: none;
    }

    .menu-items {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
      list-style-type: none;

      .menu-item {
        display: inline-block;
      }
    }
  }

  .mobile-menu {
    display: none;
    @media <=map(bp, tablet) {
      display: block;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}