header {
  display: flex;
  justify-content: space-between;
  background: map(colors, white, base);
  box-shadow: 0px 0px 10px map(colors, gray, base);
  height: 65px;
  z-index: 2;

  > .container {
    margin: 0 auto;
    justify-content: space-between;

    > .grid-cell {
      display: flex;
      align-items: center;
      @media <=map(bp, tablet) {
        justify-content: flex-start;
      }

      &.logo-section {
        @media <=map(bp, tablet) {
          flex: 0 0 80%;
        }

        a {
          font-family: map(fonts, istok);
          font-size: 56px;
          font-weight: 700;
          letter-spacing: -3px;
          @media <=map(bp, mobile) {
            font-size: 48px;
          }
          @media <=map(bp, mobile) {
            font-size: 42px;
          }
        }
      }
    }
  }

  nav {
    @media <=map(bp, tablet) {
      flex: 1 !important;
    }
  }

  .menu {
    display: block;
    width: 100%;
    @media <=map(bp, tablet) {
      display: none;
    }

    .menu-items {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
      list-style-type: none;

      .menu-item {
        display: inline-block;
      }
    }
  }

  .mobile-menu {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    @media <=map(bp, tablet) {
      display: flex;
    }

    .mobile-menu-toggle {
      cursor: pointer;

      .bar {
        margin: 6px 0;
        display: block;
        width: 28px;
        height: 2px;
        background: map(colors, black, base);
        transition: all .7s ease;
      }
    }
  }
}

.mobile-menu-items {
  position: absolute;
  top: -32%;
  left: 0;
  margin: 0;
  padding: 0;
  display: none;
  width: 100%;
  background: rgba(map(colors, white, base), .96);
  transition: all .7s ease;
  max-height: 0;
  overflow: hidden;
  z-index: 1;
  @media <=map(bp, tablet) {
    display: block;
  }

  li {
    list-style-type: none;

    a {
      padding: 15px 25px;
      display: block;
      width: 100%;
      border-bottom: 1px solid rgba(map(colors, gray, base), .9);
    }
  }
}

.menu-open {
  .bar.top {
    transform: translateY(7px) rotate(45deg);
  }
  .bar.middle {
    width: 0 !important;
  }
  .bar.bottom {
    transform: translateY(-9px) rotate(-45deg);
  }

  .mobile-menu-items {
    top: 65px;
    max-height: 500px;
  }
} 