header {
  display: flex;
  justify-content: space-between;

  > .grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu {
    .menu-items {
      margin: 0;
      padding: 0;
      list-style-type: none;

      .menu-item {
        display: inline-block;
      }
    }
  }
}