.item {
  padding: 20px;
  margin: 0 auto 10px;
  display: flex;
  flex: 0 0 100%;
  align-items: center;
  justify-content: space-around;
  background: map(colors, white, base);
  border: 1px solid map(colors, black, base);
  @media <=map(bp, tablet) {
    margin: 0 0 10px;
    flex: 0 0 48%;
  }
  @media <=map(bp, mobile) {
    flex: 0 0 100%;
  }

  > div {
    display: flex;
    justify-content: center;
  }

  .item-meta {
    flex-direction: column;

    h5 {
      margin: 0;
      line-height: 1.2;
    }

    p {
      margin: 0;
      font-size: 12px;
    }
  }

  .item-price {
    p {
      color: map(colors, red, base);
    }
  }

  .item-actions {
    justify-content: flex-end;
    
    svg {
      width: 25px;
      height: 25px;
      transition: all .4s ease;
      fill: map(colors, green, base);
    }

    a {
      &:hover, &:active, &:focus {
        svg {
          fill: map(colors, blue, base);
        }
      }

      &.icon-delete {
        &:hover, &:active, &:focus {
          svg {
            fill: map(colors, red, base);
          }
        }
      }
    }
  }
}