@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

h1 {
  font-family: map(fonts, istok);
  color: map(colors, black, base);
}

p {
  color: map(colors, gray, base);
}

a {
  font-family: map(fonts, lora);
  font-size: 16px;
  color: map(colors, green, base);
  text-decoration: none;
  transition: all .4s ease;

  &:hover, &:active, &:focus {
    color: map(colors, blue, base);
  }
}