@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700');

h1, h2, h3, h4, h5, h6 {
  font-family: map(fonts, istok);
  color: map(colors, black, base);
}

h3 {
  &.datepicker {
    cursor: pointer;
  }
}

h5 {
  font-size: 18px;
  line-height: 24px;
}

p {
  color: map(colors, gray, base);
}

a {
  font-family: map(fonts, lora);
  font-size: 16px;
  color: map(colors, green, base);
  text-decoration: none;
  transition: all .4s ease;

  &:hover, &:active, &:focus {
    color: map(colors, blue, base);
  }

  &.btn {
    padding: 8px 25px;
    display: inline-block;
    font-weight: 700;
    border: 2px solid map(colors, green, base);
    background: transparent;
    text-transform: uppercase;
    transition: all .4s ease;
    letter-spacing: 0.1em;

    &:hover, &:active, &:focus {
      background: map(colors, blue, base);
      border-color: map(colors, blue, base);
      color: map(colors, white, base);
    }
  }
}